ProductDataStream/HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

###Gradle###
/.gradle
/gradlew.bat
/core/src/main/resources

###ProductDataStream###
/productdatastream/.gradle
/productdatastream/gradlew.bat
/productdatastream/src/main/resources
/productdatastream/src/java/com/shop4me/productdatastream/application/security/DefaultComponentUserConfig.java

###Core###
/core/.gradle
/core/gradlew.bat